<form autocomplete="off" onsubmit="event.preventDefault();">
  <h3>{{assetName}}</h3>
  <div class="tileres">
    <img id="previewImage" width="400" height="400" src="{{url}}"/>
  </div>
  <p>
    <b>{{localize "mtte.imageFrom"}}</b>: <a href="{{creatorUrl}}" target="_blank">{{creator}}</a> ({{pack}})
  </p>
  <p>  
    <b>{{localize "mtte.requiredTiers"}}</b>:
    <ul>
    {{#each tiers as |t|}}
      <li>{{t.title}} ({{t.amount}} $USD) {{#if t.id}}- <a href="https://www.patreon.com/join/{{../vanity}}/checkout?rid={{t.id}}" target="_blank">{{localize "mtte.subscribe"}}</a></li>{{/if}}
    {{/each}}
    </ul>
  </p>
  <br />
  <footer>
  {{#if creatorUrl}}
  <div class="actions">
    <a href="{{creatorUrl}}" target="_blank"><button><i class="fas fa-external-link-alt"></i> {{localize "mtte.creatorWebsite"}}</button></a>
    <a href="{{moulinetteUrl}}" target="_blank"><button><i class="fas fa-external-link-alt"></i> {{localize "mtte.creatorMoulinetteWebsite"}}</button></a>
  </div>
  {{/if}}
  </footer>
</form>
