<form autocomplete="off" onsubmit="event.preventDefault();">

  <p>{{localize "mtte.exportWelcome"}}</p>

  {{#if error}}
  <div class="error">{{error}}</div>
  {{/if}}

  {{#unless error}}
  <div class="form-group">
    <label><b>{{localize "mtte.sceneFolder"}}</b></label>
    <label>{{sceneFolder}}</label>
  </div>
  <div class="form-group">
    <label><b>{{localize "mtte.exportCreator"}}</b> <i class="fas fa-question-circle" title="{{localize "mtte.exportCreatorHint"}}"></i></label>
    <label><input class="creator" type="text" name="creator" maxLength="50" placeHolder="{{creator}}"/></label>
  </div>
  <div class="form-group">
    <label><b>{{localize "mtte.exportPack"}}</b> <i class="fas fa-question-circle" title="{{localize "mtte.exportPackHint"}}"></i></label>
    <label><input class="pack" type="text" name="pack" maxLength="50" placeHolder="{{pack}}" /></label>
  </div>
  <div class="form-group">
    <label><b>{{localize "mtte.exportCount"}}</b> </label>
    <label>{{count}}</label>
  </div>
  <div class="form-group">
    <label><b>{{localize "mtte.exportAll"}}</b> <i class="fas fa-question-circle" title="{{localize "mtte.exportAllHint"}}"></i></label>
    <label><input class="exportAll" type="checkbox" name="exportAll" value="0" /></label>
  </div>
  <div class="form-group">
    <div class="error">{{localize "mtte.exportWarning"}}</div>
  </div>
  <div class="form-group">
    <div class="progressBlock">
      <div class="label">Progress: <span class="progress"></span></div>
      <div class="progressBar"></div>
    </div>
  </div>

  <footer>
    <div class="actions">
      <button class="cancel" value="cancel"> {{localize "Cancel"}}</button>
      <button type="submit" value="export">{{localize "mtte.exportButton"}}</button>
      <button class="cloud" value="cloud">{{localize "mtte.visitCloud"}}</button>
    </div>
  </footer>
  {{/unless}}
  
</form>
